In [1]:
import pandas as pd
links = pd.read_json('sefaria.links.json')

In [2]:
links.describe()

       inline_citation  is_first_comment         score
count    735558.000000              72.0  26635.000000
mean          0.980619               1.0     45.642495
std           0.137861               0.0     24.811090
min           0.000000               1.0     24.500000
25%           1.000000               1.0     30.081077
50%           1.000000               1.0     36.983255
75%           1.000000               1.0     52.552330
max           1.000000               1.0    370.800000

In [3]:
links['inline_reference'].value_counts()

inline_reference
Notes by Rabbi Yehoshua Hartman                                            38923
{'data-commentator': 'Tur', 'data-label': '⚬'}                              3824
{'data-commentator': 'Variants', 'data-order': 1, 'data-label': 'א'}        3449
{'data-commentator': 'Variants', 'data-order': 2, 'data-label': 'ב'}        3412
{'data-commentator': 'Variants', 'data-order': 3, 'data-label': 'ג'}        3336
                                                                           ...
{'data-order': 72, 'data-commentator': 'Turei Zahav'}                          1
{'data-order': 73, 'data-commentator': 'Turei Zahav'}                          1
{'data-order': 74, 'data-commentator': 'Turei Zahav'}                          1
{'data-order': 75, 'data-commentator': 'Turei Zahav'}                          1
{'data-commentator': 'Ohr Penimi', 'data-order': 43, 'data-label': 'ש'}        1
Name: count, Length: 8323, dtype: int64

In [4]:
links['first_comment_indexes'].value_counts()

first_comment_indexes
[Alshich on Torah, Numbers]        2
[Alshich on Torah, Leviticus]      2
[Alshich on Torah, Genesis]        2
[Alshich on Torah, Exodus]         2
[Alshich on Torah, Deuteronomy]    2
                                  ..
[Bekhor Shor, Genesis]             1
[Bekhor Shor, Numbers]             1
[Bekhor Shor, Deuteronomy]         1
[Bekhor Shor, Leviticus]           1
[Chizkuni, Exodus]                 1
Name: count, Length: 67, dtype: int64

In [7]:
links['bookName_0']=links['refs_0'].map(lambda x: x.rsplit(' ',1)[0])
links['bookName_1']=links['refs_1'].map(lambda x: x.rsplit(' ',1)[0])
#links['level_1_index_0']

In [8]:
import sqlite3

conn = sqlite3.connect('sefaria.sqlite')
links[['type','refs_0','refs_1','bookName_0','bookName_1']].to_sql('links', conn, if_exists='replace', index=False)
conn.close()